body {
  padding: 20px;
  background-color: rgb(54, 52, 52);
}

h1 {
  color: aliceblue;
}

hr {
  color: whitesmoke;
}

p {
  color: azure;
}

li {
  color: aliceblue;
  /* background-color: aqua; */
  margin-top: 20px;
}

ul {
  list-style-image: url("https://www.flaticon.com/free-icon/paws_4225928");
  margin-right: 8px;
}

ol {
  display: flex;
  flex-direction: column;
}

button {
  margin-right: 10px;
  background-color: bisque;
}

@media (max-width: 600px) {
  li {
  color: aliceblue;
  width: 340px;
  /* background-color: aqua; */
  margin-top: 20px;
}

ul {
  list-style-image: url("https://www.flaticon.com/free-icon/paws_4225928");
  margin-right: 8px;
}

ol {
  /* background-color: red; */
  height: 530px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  width: 390px;
}
}
